:host {
  height: var(--horizontal-menu-size);
  z-index: 1;

  background: var(--tertiary-color);
  border-radius: var(--horizontal-menu-border-radius) var(--horizontal-menu-border-radius) 0 0;
  padding: var(--horizontal-menu-inner-padding) var(--horizontal-menu-border-radius);
}