:host {
  --footer-height: 45vh;
}

.main-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  background-color: var(--background-color);
}

.main {
  flex: 1;
  min-height: 100vh;
}

.footer-container {
  flex: var(--footer-height);
  padding: var(--standard-border-radius);

  background-color: var(--secondary-background-color);
  color: var(--secondary-color);

  // TODO: Change to grid
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  gap: var(--double-gap);
  border-radius: var(--standard-border-radius) var(--standard-border-radius) 0 0;
}

.footer-container-divider {
  flex: 1;

  border-top: var(--background-color) 1px solid;
  border-bottom: var(--background-color) 1px solid;
}
