<menu class="viewer-menu">
  <li class="viewer-menu viewer-control-menu standard-shadow">
    <button class="viewer-control-menu"
            [ngClass]="{'active': controlMode === 'general'}"
            (click)="onGeneralControlModeActivation()">
      <i class="bi bi-gear-fill viewer-control-menu"></i>
    </button>
  </li>
  <li class="viewer-menu viewer-control-menu standard-shadow">
    <button class="viewer-control-menu"
            [ngClass]="{'active': controlMode === 'file'}"
            (click)="onFileControlModeActivation()">
      <i class="bi bi-file-binary-fill viewer-control-menu"></i>
    </button>
  </li>
  <li class="viewer-menu standard-shadow">
    <select id="architectureName"
            name="architectureName"
            class="viewer-control-menu"
            [(ngModel)]="selectedArchitectureIndex">
      <option value="null">
        Select Architecture ...
      </option>
      @for(architecture of architectures; track architectures.indexOf(architecture)) {
        <option [value]="architectures.indexOf(architecture)">
          {{architecture.name}}
        </option>
      }
    </select>
  </li>
  @switch (controlMode) {
    @case ('general') {
      <li class="viewer-menu viewer-menu-main standard-shadow">
        <mat-slider class="slider"
                    discrete
                    [displayWith]="formatSlider"
                    [disabled]="isSliderDisabled()"
                    min="0"
                    [max]="selectedSliderMax()"
                    step="1">
          <input matSliderStartThumb
                 value="0"
                 (valueChange)="sliderStartValue.set($event)">
          <input matSliderEndThumb
                 [value]="selectedSliderEnd()"
                 (valueChange)="sliderEndValue.set($event)">
        </mat-slider>
      </li>
    }
    @case ('file') {
      <li class="viewer-menu viewer-menu-side standard-shadow">
        <select id="layerName"
                name="layerName"
                class="viewer-control-menu"
                [(ngModel)]="selectedLayerIndex">
          <option value="null">
            Select Layer ...
          </option>
          @for(layer of layers(); track layers().indexOf(layer)) {
            <option [value]="layers().indexOf(layer)">
              {{layers().indexOf(layer) + 1}} - {{layer}}
            </option>
          }
        </select>
      </li>
      <li class="viewer-menu viewer-menu-side standard-shadow">
        <select id="colorMapName"
                name="colorMapName"
                class="viewer-control-menu"
                [(ngModel)]="selectedColorMapIndex">
          <option value="null">
            Select Color Map ...
          </option>
          @for(colorMap of colorMaps; track colorMap.id) {
            <option [value]="colorMap.id">
              {{colorMap.name}}
            </option>
          }
        </select>
      </li>
      <li class="viewer-menu viewer-menu-main standard-shadow">
        <input id="file"
               type="file"
               class="slider"
               #fileUpload
               (change)="onFileChange($event)">
        <button class="btn-small btn-primary"
                (click)="onFileUpload()">
          <!--                [disabled]="isUploadDisabled()"-->
          Upload
        </button>
      </li>
    }
  }
  @if (controlMode === 'file') {
    <li class="viewer-menu viewer-control-menu standard-shadow">
      <button class="viewer-control-menu"
              [ngClass]="{'active': viewMode === '2d'}"
              (click)="on2dViewModeActivation()">
        <i class="bi bi-card-image viewer-control-menu"></i>
      </button>
    </li>
    <li class="viewer-menu viewer-control-menu standard-shadow">
      <button class="viewer-control-menu"
              [ngClass]="{'active': viewMode === '3d'}"
              (click)="on3dViewModeActivation()">
        <i class="bi bi-aspect-ratio-fill viewer-control-menu"></i>
      </button>
    </li>
  }
</menu>