<menu class="viewer-menu">
  <li class="viewer-menu viewer-control-menu standard-shadow">
    <button class="viewer-control-menu"
            [ngClass]="{'active': controlMode === 'general'}"
            (click)="onGeneralControlActivation()">
      <i class="bi bi-gpu-card viewer-control-menu"></i>
    </button>
  </li>
  <li class="viewer-menu viewer-control-menu standard-shadow">
    <button class="viewer-control-menu"
            [ngClass]="{'active': controlMode === 'layer'}"
            (click)="onLayerControlActivation()">
      <i class="bi bi-layers-fill viewer-control-menu"></i>
    </button>
  </li>
  <li class="viewer-menu viewer-control-menu standard-shadow">
    <button class="viewer-control-menu"
            [ngClass]="{'active': controlMode === 'detail'}"
            (click)="onDetailControlActivation()">
      <i class="bi bi-binoculars-fill viewer-control-menu"></i>
    </button>
  </li>
  <li class="viewer-menu viewer-control standard-shadow">
    <select id="architectureName"
            name="architectureName"
            class="viewer-control-menu"
            [(ngModel)]="selectedArchitectureIndex">
      <option value="null">
        Architecture ...
      </option>
      @for(architecture of architectures; track architectures.indexOf(architecture)) {
        <option [value]="architectures.indexOf(architecture)">
          {{architecture.name}}
        </option>
      }
    </select>
  </li>
  <li class="viewer-menu viewer-control standard-shadow">
    <input id="file"
           type="file"
           style="display: none"
           (change)="onFileChange($event)" #fileUpload>
    <button class="btn-small btn-primary"
            (click)="fileUpload.click()">
      Upload
    </button>
    <select id="normalizationName"
            name="normalizatioName"
            class="viewer-control-menu"
            style="align-self: stretch"
            [(ngModel)]="selectedNormalizationId">
      <option value="null">
        Normalization ...
      </option>
      @for (normalization of normalizations; track normalization.id) {
        <option [value]="normalization.id">
          {{normalization.name}}
        </option>
      }
    </select>
    <button class="btn-small btn-primary"
            [disabled]="isDownloadActivationsDisabled()"
            (click)="onDownloadActivations()">
      Calculate
    </button>
  </li>
  <li class="viewer-menu viewer-control standard-shadow">
    <select id="colorMapName"
            name="colorMapName"
            class="viewer-control-menu"
            style="align-self: stretch"
            [(ngModel)]="selectedColorMapUUID">
      <option value="null">
        Color Map ...
      </option>
      @for(colorMap of colorMaps; track colorMap.uuid) {
        <option [value]="colorMap.uuid">
          {{colorMap.name}}
        </option>
      }
    </select>
    <button class="btn-small btn-primary"
            [disabled]="isColorMapChangeDisabled()"
            (click)="onColorMapChange()">
      Change
    </button>
  </li>
  @switch (controlMode) {
    @case ('general') {
      <app-viewer-menu-general [architecture]="selectedArchitecture()"></app-viewer-menu-general>
    }
    @case ('layer') {
      <app-viewer-menu-file [architecture]="selectedArchitecture()"></app-viewer-menu-file>
    }
    @case ('detail') {
      <app-viewer-menu-detail [architecture]="selectedArchitecture()"></app-viewer-menu-detail>
    }
  }
</menu>