.app-outer {
    width: 100vw;
    height: 100vh;

    display: grid;
    gap: min(1rem, 5%);

    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 14fr;
    grid-template-areas:
        'navbar navbar'
        'file-manager editor';
}

.app-inner-navbar {
    grid-area: navbar;
}

.app-inner-file-manager {
    grid-area: file-manager;
}

.app-inner-editor {
    grid-area: editor;
}