:host {
  --standard-cut-height: 8vh;

  flex: 1;
  display: grid;
  grid-template-columns: 1fr minmax(500px, 2fr) 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "left register-form right";

  padding: var(--quadrouple-gap);
}

.register-form-container {
  grid-area: register-form;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--standard-cut-height) 1fr;

  border-radius: var(--standard-border-radius);

  background-color: var(--tertiary-color);

  padding: var(--double-gap);
}

.register-form-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form-text span {
  font-size: 2rem;
    color: var(--secondary-color);
}

.register-form {
  background-color: var(--secondary-color);

  border-radius: var(--standard-border-radius);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 1fr;
  grid-row-gap: var(--standard-gap);

  padding: var(--half-border-radius);
}

.register-form-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  gap: var(--standard-gap);
}

.form-btn {
  flex: 1;
}

.form-floating {
  flex: 1;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-label {
  position: absolute;
  top: var(--standard-gap);
  left: var(--standard-gap);


  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;

  background-color: var(--background-color);
  pointer-events: none;

  color: var(--light-quaternary-color);

  transition: all 0.3s ease-in-out;
}

.form-input {
  flex: 1;
  font-size: 1rem;
  padding: var(--standard-gap) var(--standard-gap);

  border-radius: var(--half-border-radius);
  border: var(--quaternary-color) solid 2px;
}

.form-input::placeholder {
  opacity: 0;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(calc(-2 * var(--standard-gap))) scale(0.8);

  padding: var(--half-gap);
  border-radius: var(--half-border-radius);
}

.toggle-btn {
  background-color: transparent;
}

.toggle-btn > i {
  font-size: 1.5rem;

  margin: var(--half-gap);

  background-color: transparent;
  color: var(--quaternary-color);
}

.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: var(--standard-gap);
}

.form-error-all {
  flex: 0 0 100%;

  background-color: var(--light-error-color);
  color: var(--primary-error-color);

  border-radius: var(--standard-border-radius);
}

.form-error {
  background-color: var(--light-error-color);
  color: var(--primary-error-color);
}

.error-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: var(--standard-gap);

  padding: var(--standard-gap);

  list-style-type: none;
}

.error-description {
  background-color: var(--light-error-color);
  color: var(--primary-error-color);
}

.error-input {
  border-color: var(--primary-error-color);
}

.success-input {
  border-color: var(--primary-success-color);
}

@media screen and (width <= 1400px) {
  .form-floating {
    flex: 300px
  }
}

@media (height > 1000px) {
  :host {
    grid-template-rows: 1fr 0.3fr;
  }

  .form-floating {
    flex: 0 0 48%;
  }

  .form-floating:nth-last-child(1),
  .form-floating:nth-last-child(2) {
    flex: 0 0 100%;
  }

  @media (width <= 1400px) {
    .form-floating {
      flex: 0 0 100%;
    }
  }
}