<div class="register-form-container standard-shadow">
  <div class="register-form-text">
    <span class="register-form-text">
      Registration Form
    </span>
  </div>
  <form class="register-form standard-shadow"
        [formGroup]="registrationForm">
    <fieldset class="register-form-fields">
      <div class="register-form-row">
        <div class="form-floating">
          <label for="username">
            Username
          </label>
          <input id="username"
                 class="form-input"
                 type="text"
                 required
                 formControlName="username"/>
        </div>
        <div class="form-floating">
          <label for="email">
            Email
          </label>
          <input id="email"
                 class="form-input"
                 type="email"
                 required
                 formControlName="email"/>
        </div>
      </div>
      <div class="register-form-row">
        <div class="form-floating">
          <label for="firstName">
            First Name
          </label>
          <input id="firstName"
                 class="form-input"
                 type="text"
                 required
                 formControlName="firstName"/>
        </div>
        <div class="form-floating">
          <label for="lastName">
            Last Name
          </label>
          <input id="lastName"
                 class="form-input"
                 type="text"
                 required
                 formControlName="lastName"/>
        </div>
      </div>
      <div class="register-form-row">
        <div class="form-floating">
          <label for="password">
            Password
          </label>
          <div class="form-floating-inner">
            <input id="password"
                   class="form-input"
                   required
                   [type]="passwordInputType"
                   formControlName="password"/>
            <button class="toggle-btn"
                    (click)="onPasswordToggle()">
              <i class="bi" [ngClass]="passwordInputType === 'password' ? 'bi-eye-fill' : 'bi-eye-slash-fill'"></i>
            </button>
          </div>
        </div>
        <div class="form-floating">
          <label for="confirmPassword">
            Confirm Password
          </label>
          <div class="form-floating-inner">
            <input id="confirmPassword"
                   class="form-input"
                   required
                   [type]="confirmPasswordInputType"
                   formControlName="confirmPassword"/>
            <button class="toggle-btn"
                    (click)="onConfirmPasswordToggle()">
              <i class="bi" [ngClass]="confirmPasswordInputType === 'password' ? 'bi-eye-fill' : 'bi-eye-slash-fill'"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="register-form-row">
        <button class="btn btn-secondary form-btn"
                type="reset"
                (click)="onReset()">
          Reset
        </button>
        <button class="btn btn-primary form-btn"
                type="submit"
                (click)="onSubmit()">
          Submit
        </button>
      </div>
    </fieldset>
  </form>
</div>