<div class="register-form-container standard-shadow">
  <div class="register-form-text">
    <span class="register-form-text">
      Registration Form
    </span>
  </div>
  <form class="register-form standard-shadow"
        [formGroup]="registrationForm">
    <fieldset class="register-form-fields">
      @if (registrationForm.invalid && (registrationForm.dirty || registrationForm.untouched) && isSubmitted) {
        <div class="form-error-all light-shadow">
          <ul class="error-list">
            @for (control of registrationForm.controls | keyvalue; track control.key) {
              @if (control.value.invalid && control.value.dirty) {
                @if (control.value.hasError('required')) {
                  <li class="error-description">
                    {{ control.key | titlecase }} is required
                  </li>
                }
                @if (control.value.hasError('serverError')) {
                  <li class="error-description">
                    {{ control.key | titlecase }}
                  </li>
                }
              }
            }
          </ul>
        </div>
      }
      <div class="form-floating">
        <input id="username"
               class="form-input light-shadow"
               type="text"
               placeholder=" "
               [ngClass]="{'error-input': registrationForm.controls.username.invalid && registrationForm.controls.username.dirty && isSubmitted, 'success-input': registrationForm.controls.username.valid && registrationForm.controls.username.dirty && isSubmitted}"
               formControlName="username"/>
        <label class="form-label"
               for="username">
          Username
        </label>
      </div>
      <div class="form-floating">
        <input id="email"
               class="form-input light-shadow"
               type="email"
               placeholder=" "
               [ngClass]="{'error-input': registrationForm.controls.email.invalid && registrationForm.controls.email.dirty && isSubmitted, 'success-input': registrationForm.controls.email.valid && registrationForm.controls.email.dirty && isSubmitted}"
               formControlName="email"/>
        <label class="form-label"
               for="email">
          Email
        </label>
      </div>
      <div class="form-floating">
        <input id="firstName"
               class="form-input light-shadow"
               type="text"
               placeholder=" "
               [ngClass]="{'error-input': registrationForm.controls.first_name.invalid && registrationForm.controls.first_name.dirty && isSubmitted, 'success-input': registrationForm.controls.first_name.valid && registrationForm.controls.first_name.dirty && isSubmitted}"
               formControlName="first_name"/>
        <label class="form-label"
               for="firstName">
          First Name
        </label>
      </div>
      <div class="form-floating">
        <input id="lastName"
               class="form-input light-shadow"
               type="text"
               placeholder=" "
               [ngClass]="{'error-input': registrationForm.controls.last_name.invalid && registrationForm.controls.last_name.dirty && isSubmitted, 'success-input': registrationForm.controls.last_name.valid && registrationForm.controls.last_name.dirty && isSubmitted}"
               formControlName="last_name"/>
        <label class="form-label"
               for="lastName">
          Last Name
        </label>
      </div>
      <div class="form-floating">
        <input id="password"
               class="form-input light-shadow"
               placeholder=" "
               [type]="passwordInputType"
               [ngClass]="{'error-input': registrationForm.controls.password.invalid && registrationForm.controls.password.dirty && isSubmitted, 'success-input': registrationForm.controls.password.valid && registrationForm.controls.password.dirty && isSubmitted}"
               formControlName="password"/>
        <label class="form-label"
               for="password">
          Password
        </label>
        <button class="toggle-btn"
                (click)="onPasswordToggle()">
          <i class="bi"
             [ngClass]="passwordInputType !== 'password' ? 'bi-eye-slash-fill' : 'bi-eye-fill'"></i>
        </button>
      </div>
      <div class="form-floating">
        <input id="confirmPassword"
               class="form-input light-shadow"
               placeholder=" "
               [type]="passwordConfirmInputType"
               [ngClass]="{'error-input': registrationForm.controls.password_confirm.invalid && registrationForm.controls.password_confirm.dirty && isSubmitted, 'success-input': registrationForm.controls.password_confirm.valid && registrationForm.controls.password_confirm.dirty && isSubmitted}"
               formControlName="password_confirm"/>
        <label class="form-label"
               for="confirmPassword">
          Confirm Password
        </label>
        <button class="toggle-btn"
                (click)="onConfirmPasswordToggle()">
          <i class="bi"
             [ngClass]="passwordConfirmInputType !== 'password' ? 'bi-eye-slash-fill' : 'bi-eye-fill'"></i>
        </button>
      </div>
    </fieldset>
    <div class="form-buttons">
      <button class="btn btn-secondary form-btn"
              type="reset"
              (click)="onReset()">
        Reset
      </button>
      <button class="btn btn-primary form-btn"
              type="submit"
              (click)="onSubmit()">
        Submit
      </button>
    </div>
  </form>
</div>