:host {
  --standard-cut-height: 8vh;

  flex: 1;
  display: grid;
  grid-template-columns: 1fr minmax(1fr, 500px) 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "left register-form right";

  padding: var(--quadrouple-gap);
}

.register-form-container {
  grid-area: register-form;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--standard-cut-height) 1fr;

  border-radius: var(--standard-border-radius);

  background-color: var(--tertiary-color);

  padding: var(--double-gap);
}

.register-form-container > * {
  color: var(--secondary-color);
}

.register-form-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form-text > span {
  font-size: 2rem;
}

.register-form {
  background-color: var(--secondary-color);

  border-radius: var(--standard-border-radius);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.register-form-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: var(--half-border-radius);
}

.register-form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  gap: var(--half-border-radius);
}

.form-btn {
  flex: 1;
}

.form-floating {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.form-floating > label {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--quaternary-color);
}

.register-form-lower-buttons > button {
  flex: 1;
}

.form-input {
  font-size: 1.5rem;
  padding: var(--half-gap) var(--half-border-radius);

  border-radius: var(--standard-border-radius);

  border: var(--quaternary-color) solid 3px;
}

.form-floating-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: var(--half-border-radius);
}

.form-floating-inner > input {
  flex: 1;
}

.toggle-btn {
  background-color: transparent;
}

.toggle-btn > i {
  font-size: 1.5rem;

  background-color: transparent;
  color: var(--quaternary-color);
}