<app-comparator-control-bar class="standard-shadow"></app-comparator-control-bar>

<div class="container standard-shadow table-container">
  <table class="table table-hover" style="margin-bottom: 0">
    <thead>
      <tr class="table-primary">
        <th scope="col">No.</th>
        <th scope="col">Architecture Name</th>
        <th scope="col">UUID</th>
        <th scope="col">Total Layer Count</th>
      </tr>
    </thead>
    <tbody>
      @for (architectureProcessed of architecturesProcessed; track architectureProcessed.uuid) {
        <tr class="table-row-click"
            (click)="fetchLayerInfo(architectureProcessed.uuid)">
          <th scope="row">
            {{architecturesProcessed.indexOf(architectureProcessed) + 1}}
          </th>
          <td>
            {{architectureProcessed.name}}
          </td>
          <td>
            {{architectureProcessed.uuid}}
          </td>
          <td>
            {{architectureProcessed.layer_count}}
          </td>
        </tr>
        @if (architectureProcessed.showDetails) {
          <tr>
            <td colspan="4">
              <table class="table">
                <thead>
                  <tr class="table-info">
                  <th scope="col">No.</th>
                  <th scope="col">Layer Name</th>
                  <th scope="col">UUID</th>
                  <th scope="col">Input Shape</th>
                </tr>
                </thead>
                <tbody>
                  @for (layer of architectureProcessed.layers; track layer.uuid) {
                    <tr class="table-row-click" (click)="fetchNetworkInputInfo(architectureProcessed.uuid, layer.uuid)">
                      <td>
                        {{layer.layer_number}}
                      </td>
                      <td>
                        {{layer.presentation_name}}
                      </td>
                      <td>
                        {{layer.uuid}}
                      </td>
                      <td>
                        {{layer.presentation_dimensions}}
                      </td>
                    </tr>
                    @if (layer.showDetails) {
                     <tr>
                       <td colspan="4">
                        <app-comparator-viewer [architectureUUID]="architectureProcessed.uuid"
                                               [layerUUID]="layer.uuid"
                                               [networkInputs]="layer.network_inputs"></app-comparator-viewer>
                       </td>
                     </tr>
                    }
                  }
                </tbody>
              </table>
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>