<div class="viewer">
  <div class="controls">
    <select id="file0"
            name="file0"
            [(ngModel)]="selectedFile0UUID">
      <option value="null">
        First File
      </option>
      @for (activation of activations?.activations; track activation.uuid) {
        <option [value]="activation.uuid">
          {{activation.presentation_name}}
        </option>
      }
    </select>
    <select id="file1"
            name="file1"
            [(ngModel)]="selectedFile1UUID">
      <option value="null">
        Second File
      </option>
      @for (activation of activations?.activations; track activation.uuid) {
        <option [value]="activation.uuid">
          {{activation.presentation_name}}
        </option>
      }
    </select>

    <select id="filterIndex"
            name="filterIndex"
            [(ngModel)]="selectedFilterIndex">
      <option value="null">
        Filter
      </option>
      @for (filterIndex of activations?.filter_number; track filterIndex) {
        <option [value]="filterIndex.toString()">
          {{filterIndex}}
        </option>
      }
    </select>
    <select id="normalizationName"
            name="normalizationName"
            [(ngModel)]="selectedNormalizationId">
      <option value="null">
        Normalization
      </option>
      @for (normalization of normalizations; track normalization.id) {
        <option [value]="normalization.id">
          {{normalization.name}}
        </option>
      }
    </select>
    <select id="colorMapUUID"
            name="colorMapName"
            [(ngModel)]="selectedColorMapUUID">
      <option value="null">
        Color Map
      </option>
      @for(colorMap of colorMaps; track colorMap.uuid) {
        <option [value]="colorMap.uuid">
          {{colorMap.name}}
        </option>
      }
    </select>
    <button>
      Compare
    </button>
  </div>
  <div class="images">
    <div class="image0">

    </div>
    <div class="image1">

    </div>
  </div>
  <div class="metrics">

  </div>
  <div class="classes">

  </div>
</div>