<div class="viewer">
  <div class="controls">
    <select id="file0"
            name="file0"
            [(ngModel)]="selectedFile0UUID">
      <option value="null">
        First File
      </option>
      @for (activation of activations?.activations; track activation.uuid) {
        <option [value]="activation.uuid">
          {{activation.presentation_name}}
        </option>
      }
    </select>
    <select id="file1"
            name="file1"
            [(ngModel)]="selectedFile1UUID">
      <option value="null">
        Second File
      </option>
      @for (activation of activations?.activations; track activation.uuid) {
        <option [value]="activation.uuid">
          {{activation.presentation_name}}
        </option>
      }
    </select>

    <select id="filterIndex"
            name="filterIndex"
            [(ngModel)]="selectedFilterIndex">
      <option value="null">
        Filter
      </option>
      @for (filterIndex of activations?.filter_number; track filterIndex) {
        <option [value]="filterIndex.toString()">
          {{filterIndex}}
        </option>
      }
    </select>
    <select id="normalizationName"
            name="normalizationName"
            [(ngModel)]="selectedNormalizationId">
      <option value="null">
        Normalization
      </option>
      @for (normalization of normalizations; track normalization.id) {
        <option [value]="normalization.id">
          {{normalization.name}}
        </option>
      }
    </select>
    <select id="colorMapUUID"
            name="colorMapName"
            [(ngModel)]="selectedColorMapUUID">
      <option value="null">
        Color Map
      </option>
      @for(colorMap of colorMaps; track colorMap.uuid) {
        <option [value]="colorMap.uuid">
          {{colorMap.name}}
        </option>
      }
    </select>
    <button (click)="onCompareClick()">
      Compare
    </button>
  </div>
  @if (comparisonResults != null) {
    <div class="images">
      <!-- TODO: Fix this warning -->
      <div class="image-slot">
        <p class="image-text">
          First Image
        </p>
        <img [src]="comparisonResults.image0" class="image-preview">
      </div>
      <div class="image-slot">
        <p class="image-text">
          Second Image
        </p>
        <img [src]="comparisonResults.image1" class="image-preview">
      </div>
      <app-viewer-canvas-color-map-indicator style="position: static; transform: translate(0%)"></app-viewer-canvas-color-map-indicator>
    </div>
    <div class="metrics">
      <table class="table">
        <thead>
          <tr class="table-success">
          <th scope="col">Metric</th>
          <th scope="col">Score</th>
        </thead>
        <tbody>
        <tr>
          <td>
            MAE
          </td>
          <td>
            {{comparisonResults.metrics.mae}}
          </td>
        </tr>
          <tr>
            <td>
              MSE
            </td>
            <td>
              {{comparisonResults.metrics.mse}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="classes-a">
      First Image Predictions
      @for (prediction of comparisonResults.classes0; track prediction.prediction_number) {
        <div class="display-class">
          <p style="margin: 0">
            {{ prediction.prediction_number + 1 }}.
          </p>
          <p style="white-space: nowrap; margin: 0;">
            {{ prediction.class_name.replace('_', ' ') | titlecase }}
          </p>
          <p style="margin: 0">
            {{ prediction.class_score | percent:'.2' }}
          </p>
        </div>
      }
    </div>
    <div class="classes-b">
      Second Image Predictions
      @for (prediction of comparisonResults.classes1; track prediction.prediction_number) {
        <div class="display-class">
          <p style="margin: 0">
            {{ prediction.prediction_number + 1 }}.
          </p>
          <p style="white-space: nowrap; margin: 0;">
            {{ prediction.class_name.replace('_', ' ') | titlecase }}
          </p>
          <p style="margin: 0">
            {{ prediction.class_score | percent:'.2' }}
          </p>
        </div>
      }
    </div>
  }
</div>