:host {
    flex: 1;

}
/*:host(:hover) {*/
    /*flex: 1 12vw;*/
/*}*/

:host(:hover) .navbar {
    width: 15vw;
}

:host(:hover) .menu-item {
}

/*:host(:hover) .menu-item .menu-item-display-text {*/
/*    transform: translateX(0%);*/
/*    display: inline-block;*/
/*}*/

.navbar {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    border: 1px solid rgba(255, 255, 255, 0.29);
    border-radius: 0 var(--border-radius-big) var(--border-radius-big) 0;

    height: 100vh;
    width: calc-size(inherit);

    position: fixed;
    top: 0;

    transition: all 0.4s ease;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: var(--gap-medium);

    height: 100%;
    padding: 1.2vw;
}

.menu-item {
    list-style-type: none;

    background: white;

    border-radius: var(--border-radius-small);

    padding: 1.2vw;
    cursor: pointer;

    width: 100%;
    height: 10vh;
    aspect-ratio: 1 / 1;


    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
}
.menu-item:hover .menu-item-icon {
    color: var(--secondary-color);
}

.menu-item a {
    text-transform: capitalize;
    font-size: 2.5rem;

    overflow: hidden;
    display: inline;

    transition: all 0.4s ease;
}

.menu-item-icon {
    color: var(--secondary-color-pale);
    display: inline;
}

.menu-item .menu-item-display-text {
    /*font-size: 1rem;*/
    display: none;
    /**/
    /*transform: translateX(-100%);*/
    /**/
    /*text-align: end;*/
    /**/
    /*transition: all 0.4s ease;*/
}


.menu-item a {
    color: black;
}

.menu-item a:visited {
    color: black;
}

@media (max-width: 768px) {
    .menu-item a {
        font-size: 2rem;
    }
}

/*
    TODO: Restructure if size too low instead of resizing
*/
@media (max-width: 576px) {
    .menu-item a {
        font-size: 1.5rem;
    }
}