<nav class="navbar">
    <menu class="menu">
        <li>
            <a routerLink="/account" routerLinkActive="active" ariaCurrentWhenActive="page">
                Account
            </a>
        </li>
        <li>
            <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
                Home
            </a>
        </li>
        <li>
            <a routerLink="/model-manager" routerLinkActive="active" ariaCurrentWhenActive="page">
                Model Manager
            </a>
        </li>
        <li>
            <a routerLink="/editor" routerLinkActive="active" ariaCurrentWhenActive="page">
                Editor
            </a>
        </li>
        <li>
            <a routerLink="/settings" routerLinkActive="active" ariaCurrentWhenActive="page">
                Settings
            </a>
        </li>
    </menu>
</nav>