:host {
  position: absolute;
  bottom: calc(var(--horizontal-navigation-bar-height) + var(--standard-gap));

  // TODO: Fix the positioning so it is in the middle
  right: calc(100% - var(--horizontal-navigation-bar-height));
}

button.btn-change-camera {
  aspect-ratio: 1 / 1;
}