:host {
  position: absolute;
  bottom: var(--horizontal-navigation-bar-height);

  // TODO: Fix the positioning so it is in the middle
  padding: var(--half-gap) var(--standard-gap);

  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: var(--standard-gap);
}

button.btn-change-canvas-properties {
  aspect-ratio: 1 / 1;
}