<link rel="stylesheet" href="model.component.scss">
<div class="app-model-text">
  <h2>
    Model
  </h2>
</div>
<form class="app-model-form"
      [formGroup]="modelForm"
      (ngSubmit)="onSubmit()">
  <fieldset>
    <label for="architecture">
      Architecture
    </label>
    <select id="architecture" formControlName="architecture">
      @for (architecture of availableModelArchitectures; track architecture.id) {
        <option [value]="architecture.id">
          {{ architecture.name }}
        </option>
      }
    </select>

    <label for="file">
      File Input
    </label>
    <input id="file"
           type="file"
           class="file-input"
           (change)="onFileAdded($event)"
           #fileUpload/>
  </fieldset>
  <button type="submit"
          class="btn btn-primary standard-shadow">
    Submit
  </button>
</form>