:host {
  --opacity: 0.4;


  padding: 5vh 0;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--half-gap);

}

.notification {
  background: var(--background-color);
  padding: var(--standard-gap);

  border: 1px solid rgba(255, 255, 255, 0.29);
  border-radius: var(--standard-border-radius);
}

.notification-success {
  color: var(--primary-success-color);
}

.notification-error {
  color: var(--primary-error-color);
}

.notification-warning {
  color: var(--primary-warning-color);
}

.notification-info {
  color: var(--primary-info-color);
}