<li class="control-background control-main standard-shadow">
  <select id="layerName"
          name="layerName"
          class="control"
          [(ngModel)]="selectedLayerUUID">
    <option value="null">
      Layer ...
    </option>
    @for(layer of layers; track layer.uuid) {
      <option [value]="layer.uuid">
        {{layer.layer_number}} - {{layer.name}}
      </option>
    }
  </select>

  <button class="btn-small btn-primary">
    Update Canvas
  </button>
</li>
<li class="control-background control-state-button standard-shadow"
    [ngClass]="{'active': canvasElementPlacement === '1d'}">
  <button class="control"
          (click)="on1dViewModeActivation()">
    <i class="bi bi-three-dots control"></i>
  </button>
</li>
<li class="control-background control-state-button standard-shadow"
    [ngClass]="{'active': canvasElementPlacement === '1dz'}">
  <button class="control"
          (click)="on1dzViewModeActivation()">
    <i class="bi bi-three-dots-vertical control"></i>
  </button>
</li>
<li class="control-background control-state-button standard-shadow"
    [ngClass]="{'active': canvasElementPlacement === '2d'}">
  <button class="control"
          (click)="on2dViewModeActivation()">
    <i class="bi bi-grid-3x3-gap-fill control"></i>
  </button>
</li>
