<li class="viewer-menu viewer-menu-side standard-shadow">
  <select id="layerName"
          name="layerName"
          class="viewer-control-menu"
          [(ngModel)]="selectedLayerIndex">
    <option value="null">
      Layer ...
    </option>
    @for(layer of computedLayers(); track layer.id) {
      <option [value]="layer.id">
        {{layer.name}}
      </option>
    }
  </select>
</li>
<li class="viewer-menu viewer-menu-main standard-shadow">
  <input id="file"
         type="file"
         style="display: none"
         (change)="onFileChange($event)" #fileUpload>
  <button class="btn-small btn-primary"
          (click)="fileUpload.click()">
    Upload
  </button>
  <select id="normalizationName"
          name="normalizatioName"
          class="viewer-control-menu"
          style="align-self: stretch"
          [(ngModel)]="selectedNormalization">
    <option value="null">
      Normalization ...
    </option>
    <option value="local">
      Local
    </option>
    <option value="global">
      Global
    </option>
  </select>
  <button class="btn-small btn-primary"
          [disabled]="isDownloadActivationsDisabled"
          (click)="onDownloadActivations()">
    Download
  </button>
</li>
<li class="viewer-menu viewer-menu-main-secondary standard-shadow">
  <select id="colorMapName"
          name="colorMapName"
          class="viewer-control-menu"
          style="align-self: stretch"
          [(ngModel)]="selectedColorMapIndex">
    <option value="null">
      Color Map ...
    </option>
    @for(colorMap of colorMaps; track colorMap.id) {
      <option [value]="colorMap.id">
        {{colorMap.name}}
      </option>
    }
  </select>
  <button class="btn-small btn-primary"
          [disabled]="isColorMapChangeDisabled"
          (click)="onColorMapChange()">
    Change
  </button>
</li>
<li class="viewer-menu viewer-control-menu standard-shadow">
  <button class="viewer-control-menu"
          [ngClass]="{'active': viewMode === '1d'}"
          (click)="on1dViewModeActivation()">
    <i class="bi  bi-three-dots viewer-control-menu"></i>
  </button>
</li>
<li class="viewer-menu viewer-control-menu standard-shadow">
  <button class="viewer-control-menu"
          [ngClass]="{'active': viewMode === '2d'}"
          (click)="on2dViewModeActivation()">
    <i class="bi bi-grid-3x3-gap-fill viewer-control-menu"></i>
  </button>
</li>
