<li class="viewer-menu viewer-menu-main standard-shadow">
  <select id="layerName"
          name="layerName"
          class="viewer-control-menu"
          [(ngModel)]="selectedLayerIndex">
    <option value="null">
      Layer ...
    </option>
    @for(layer of computedLayers(); track layer.id) {
      <option [value]="layer.id">
        {{layer.name}}
      </option>
    }
  </select>
</li>
<li class="viewer-menu viewer-control-menu standard-shadow">
  <button class="viewer-control-menu"
          [ngClass]="{'active': viewMode === '1d'}"
          (click)="on1dViewModeActivation()">
    <i class="bi  bi-three-dots viewer-control-menu"></i>
  </button>
</li>
<li class="viewer-menu viewer-control-menu standard-shadow">
  <button class="viewer-control-menu"
          [ngClass]="{'active': viewMode === '2d'}"
          (click)="on2dViewModeActivation()">
    <i class="bi bi-grid-3x3-gap-fill viewer-control-menu"></i>
  </button>
</li>
