<li class="control-background control-main viewer-menu-general standard-shadow">
  <mat-slider class="slider"
              discrete
              [displayWith]="formatSlider"
              [disabled]="isSliderDisabled()"
              [min]="0"
              [max]="selectedSliderMax()"
              [step]="1">
    <input matSliderStartThumb
           value="0"
           (valueChange)="onSliderStartChange($event)">
    <input matSliderEndThumb
           [value]="selectedSliderEnd()"
           (valueChange)="onSliderEndChange($event)">
  </mat-slider>

  <button class="btn-small btn-primary"
          [disabled]="isSliderDisabled()"
          (click)="onCanvasUpdate()">
    Update Canvas
  </button>
</li>