<li class="viewer-menu viewer-menu-main standard-shadow">
  <mat-slider class="slider"
              discrete
              [displayWith]="formatSlider"
              [disabled]="isSliderDisabled()"
              min="0"
              [max]="selectedSliderMax()"
              step="1">
    <input matSliderStartThumb
           value="0"
           (valueChange)="sliderStartValue.set($event)">
    <input matSliderEndThumb
           [value]="selectedSliderEnd()"
           (valueChange)="sliderEndValue.set($event)">
  </mat-slider>
</li>