<menu class="control">
  <li class="control-background control-state-button standard-shadow"
      [ngClass]="{'active': canvasViewMode === 'general'}">
    <button class="control"
            (click)="onGeneralControl()">
      <i class="bi bi-gpu-card control"></i>
    </button>
  </li>
  <li class="control-background control-state-button standard-shadow"
      [ngClass]="{'active': canvasViewMode === 'layer'}">
    <button class="control"
            (click)="onLayerControl()">
      <i class="bi bi-layers-fill control"></i>
    </button>
  </li>
  <li class="control-background control standard-shadow">
    <select id="architectureName"
            name="architectureName"
            class="control"
            [(ngModel)]="selectedArchitectureUUID">
      <option value="null">
        Architecture
      </option>
      @for(architecture of architectures; track architecture.uuid) {
        <option [value]="architecture.uuid">
          {{architecture.name}}
        </option>
      }
    </select>
  </li>
  <li class="control-background control-main standard-shadow">
    <div class="control-file"
         (click)="fileUpload.click()">
      <input id="file"
             type="file"
             style="display: none"
             (change)="onFileChange($event)" #fileUpload>
      <button class="btn-small btn-primary">
        Upload
      </button>
      <p class="control-file-name" style="margin: 0">
       {{ fileName ?? "File not provided" }}
      </p>
    </div>
    <select id="inputTransformation"
            name="inputTransformation"
            class="control"
            [(ngModel)]="selectedInputTransformationId">
      <option value="null">
        Input Transformation
      </option>
        @for (transformation of inputTransformations; track transformation.id) {
          <option [value]="transformation.id">
            {{transformation.name}}
          </option>
        }
    </select>
    <button class="btn-small btn-primary"
            [disabled]="isDownloadActivationsDisabled()"
            (click)="onDownloadActivations()">
      Calculate
    </button>
  </li>
  <li class="control-background control standard-shadow">
    <select id="normalizationName"
            name="normalizationName"
            class="control"
            [(ngModel)]="selectedNormalizationId">
      <option value="null">
        Normalization
      </option>
        @for (normalization of normalizations; track normalization.id) {
          <option [value]="normalization.id">
            {{normalization.name}}
          </option>
        }
    </select>
    <select id="colorMapName"
            name="colorMapName"
            class="control"
            [(ngModel)]="selectedColorMapUUID">
      <option value="null">
        Color Map
      </option>
      @for(colorMap of colorMaps; track colorMap.uuid) {
        <option [value]="colorMap.uuid">
          {{colorMap.name}}
        </option>
      }
    </select>
    <button class="btn-small btn-primary"
            [disabled]="isColorMapChangeDisabled()"
            (click)="onColorMapChange()">
      Apply
    </button>
  </li>
  <li class="control-background control-state-button standard-shadow display-classes">
    <i class="bi bi-layers-half control display-classes"></i>
    <div class="display-classes standard-shadow">
      @if (predictions.length == 0) {
        <p style="white-space: nowrap; margin: 0;">
          No predictions calculated
        </p>
      }
      @for (prediction of predictions; track prediction.prediction_number) {
        <div class="display-class">
          <p style="margin: 0">
            {{ prediction.prediction_number + 1 }}.
          </p>
          <p style="white-space: nowrap; margin: 0;">
            {{ prediction.class_name.replace('_', ' ') | titlecase }}
          </p>
          <p style="margin: 0">
            {{ prediction.class_score | percent:'.2' }}
          </p>
        </div>
      }
    </div>
  </li>
  <li class="control-background control-state-button standard-shadow">
    <a class="control"
       routerLink="/comparator"
       routerLinkActive="active"
       ariaCurrentWhenActive="page">
      <i class="bi bi-arrow-right control"></i>
    </a>
  </li>
</menu>