<link rel="stylesheet" href="horizontal-navigation-bar.component.scss">
<nav class="h-navbar-container">
  <menu class="nav-menu left-menu">
    @if (!this.isLoggedIn) {
      <li>
        <a routerLink="/home"
           routerLinkActive="active"
           ariaCurrentWhenActive="page">
          <span style="font-size: xx-large;">
            Vimi
          </span>
        </a>
      </li>
      <li>
        <a routerLink="/home"
           routerLinkActive="active"
           ariaCurrentWhenActive="page">
          <span style="font-size: large; text-decoration: underline">
            Home
          </span>
        </a>
      </li>
      <li>
        <a routerLink="/model"
           routerLinkActive="active"
           ariaCurrentWhenActive="page">
          <span style="font-size: large; text-decoration: underline">
            Model
          </span>
        </a>
      </li>
      <li>
        <a routerLink="/model/viewer"
           routerLinkActive="active"
           ariaCurrentWhenActive="page">
          <span style="font-size: large; text-decoration: underline">
            Model Viewer
          </span>
        </a>
      </li>
    }
  </menu>
  <menu class="nav-menu right-menu">
    @if (!this.isLoggedIn) {
      <li>
        <a routerLink="/account/register"
           routerLinkActive="active"
           ariaCurrentWhenActive="page">
          <span class="btn btn-secondary menu-anchor" [ngClass]="{'anchor-active': checkIfActive('/account/register'),}">
            Sign Up
          </span>
        </a>
      </li>
      <li>
        <a routerLink="/account/login"
           routerLinkActive="active"
           ariaCurrentWhenActive="page">
          <span class="btn btn-secondary menu-anchor" [ngClass]="{'anchor-active': checkIfActive('/account/login'),}">
            Log In
          </span>
        </a>
      </li>
    } @else {
      <li>
        <a (click)="logout()">
          <span class="btn btn-secondary menu-anchor">
            Log Out
          </span>
        </a>
      </li>
    }
  </menu>
</nav>