.h-navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: var(--horizontal-navigation-bar-height);
    color: var(--secondary-color);
}

.nav-menu {
  flex: 1;
  list-style-type: none;

  display: flex;
  flex-direction: row;
  align-items: center;

  gap: var(--standard-gap);
}

.left-menu {
  justify-content: flex-start;
}

.right-menu {
  justify-content: flex-end;
}

.menu-anchor {
  transition:
          color 0.3s ease,
          background-color 0.3s ease,
          border 0s ease;
}

.menu-anchor:hover {
  background-color: var(--quaternary-color);
  color: var(--secondary-color);

  outline: solid var(--secondary-color) var(--standard-outline-width);
}

.anchor-active {
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
  outline: solid var(--secondary-color) var(--standard-outline-width);
}